/* Navbar styling */
.navbar {
  background-color: #803D3B;
  padding: 8px 10px;
  width: 100%;
  color: white;
  font-family: "Arial, sans-serif";
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.navbar-logo {
  font-size: 22px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  letter-spacing: 1px;
}

.navbar-logo-img img {
  width: 100px;
}

.navbar-logo-text {
  margin-left: 180px;
}

.navbar-logo-text span {
  color: #fff;
  padding-left: 70px;
  font-size: 1rem;
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 2;
}

.hamburger .line {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 2px 0;
}

.cross-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cross-icon .line {
  width: 35px;
  height: 3px;
  background-color: #fff;
  margin: -1px;
  transition: transform 0.3s ease;
}

.cross-icon .line:nth-of-type(1) {
  transform: rotate(45deg);
}

.cross-icon .line:nth-of-type(2) {
  transform: rotate(-45deg);
}

.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 2;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  margin-top: 0;
  justify-content: center;
  left: 0;
  width: 100%;
  background-color: #803D3B;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-links.open {
  display: flex;
  max-height: 200px;
}

@media (min-width: 768px) {
  .navbar-header {
    height: auto;
  }

  .navbar-logo-img img {
    width: 90px;
  }

  .navbar-logo {
    font-size: 22px;
    padding-left: 30px;
  }

  .navbar-links {
    flex-direction: row;
    position: static;
    max-height: none;
    display: inline-flex;
  }

  .navbar-links a {
    border-top: none;
    margin: 0; /* Ensure no extra margin */
    padding: 10px 15px; /* Adjust padding to ensure no extra spacing */
  }
}

.logo-fonts {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 4rem;
}

.custom-btn {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 1.25rem;
}

.subscribe-button {
  background-color: #8b5b45;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.subscribe-button:hover {
  background-color: #7a4d35;
  transform: scale(1.05);
}

.features {
  position: relative;
}

.sub-links {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  background-color: #803D3B;
}

.sub-links.open {
  max-height: 300px; /* Or adjust based on content height */
  opacity: 1;
}

.sub-links a {
  color: white;
  text-decoration: none;
  padding: 10px 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.features-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.features-link img {
  margin-left: 8px;
  transition: transform 0.3s ease;
}

.features.open .features-link img {
  transform: rotate(180deg);
}

.down-arrow {
  width: 20px
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}


/**********************************************************************/

