.navbar {
  background-color: #bd9f87; /* Color to match hero image */
  padding: 8px 10px; /* Reduced padding */
  width: 100%;
  color: white;
  font-family: "Arial, sans-serif";
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto; /* Allow height to adjust based on content */
}

.navbar-logo {
  font-size: 22px; /* Slightly reduced font size */
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px; /* Reduced padding */
  letter-spacing: 1px; /* Adjust letter spacing */
}

.navbar-logo-text {
  /* margin-left: auto;
  margin-right: auto; */
  margin-left: 180px;
}

.navbar-logo-text span {
  color: #8b5b45;
  font-size: 1rem; /* Reduced font size for slogan */
}

.hamburger {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 2;
}

.hamburger .line {
  width: 22px; /* Reduced width */
  height: 2px;
  background-color: white;
  margin: 2px 0; /* Reduced margin */
}

.cross-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cross-icon .line {
  width: 35px; /* Reduced width */
  height: 3px;
  background-color: #fff;
  margin: 0;
  transition: transform 0.3s ease; /* Smooth rotation */
}

.cross-icon .line:nth-of-type(1) {
  transform: rotate(45deg);
}

.cross-icon .line:nth-of-type(2) {
  transform: rotate(-45deg);
}

.menu-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  z-index: 2;
}

.navbar-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px; /* Adjust top position */
  margin-top: 0; /* Remove margin-top */
  justify-content: center;
  left: 0;
  width: 100%;
  background-color: #bd9f87; /* Updated color */
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease, opacity 0.5s ease; /* Transition for smooth effect */
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding: 8px 20px; /* Reduced padding */
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-links.open {
  display: flex;
  max-height: 200px; /* Adjust max-height */
}

@media (min-width: 768px) {
  .navbar-header {
    height: auto; /* Reset height for larger screens */
  }

  .navbar-logo-img img {
    width: 90px; /* Adjust logo size */
  }

  .navbar-logo {
    font-size: 22px; /* Slightly reduced font size */
    padding-left: 30px; /* Reduced padding */
  }

  .navbar-links {
    flex-direction: row;
    position: static;
    max-height: none;
  }

  .navbar-links a {
    border-top: none;
    margin-left: 15px; /* Adjust margin */
  }
}

.logo-fonts {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
}

.custom-btn {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1.25rem;
}

.subscribe-button {
  background-color: #8b5b45; /* Color for the button, matching theme */
  color: white;
  border: none;
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 16px; /* Font size for the button text */
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition */
}

.subscribe-button:hover {
  background-color: #7a4d35; /* Darker shade on hover */
  transform: scale(1.05); /* Slightly enlarge on hover */
}
