.dashboard-container {
  padding: 20px;
  background-color: #F6F7FB;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

.diagonal-bg {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
  height: 70px; /* Adjust height as needed */
  overflow: hidden;
}

.diagonal-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #F6F7FB;
  z-index: 1;
  transform: skewX(-20deg); /* Adjust the angle as needed */
  transform-origin: bottom left;
}

.diagonal-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: unset;
  right: -140px;
  width: 55%;
  height: 100%;
  background-color: #F7D9BF;
  z-index: 1;
  transform: skewX(50deg);
  transform-origin: bottom right;
}

.package-header {
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
  z-index: 2;
}

.package-header h2 {
  text-align: center;
  font-size: 20px;
  margin: 0;
}

.content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #b59481;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 280px;
  text-align: center;
  margin: 10px;
  cursor: pointer;
  transition: all 0.5s ease; /* Apply transition to the initial state */
}

.card:hover{
  background-color: #F0F5F8;
  border: 2px solid #57D8C6;
  transition: all .5s;
  transform : translateY(-10px);
}

.card h2 {
  color: #000;
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: 25px;
}

.card h1 {
  font-size: 30px;
  margin-top: 50px;
  color: #FEB458;
}

.card p {
  color: #333;
  margin-bottom: 5px;
}

.price-monthly {
  margin-bottom: 50px;
}

.terms-container {
  display: flex;
  align-items: center;
  margin: 60px;
  margin-left: 90px;
}

input[type="checkbox"] {
  margin-right: 10px;
  cursor: pointer;
}

label {
  font-size: 14px;
  line-height: 1.5;
}

span.highlight {
  color: #f4a742; /* Adjust the color to match the one in the image */
  text-decoration: none;
}

a.highlight:hover {
  text-decoration: underline;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
  .package-header {
    flex-direction: column;
  }

  .package-header h2 {
    font-size: 18px;
  }

  .card {
    width: 90%;
  }

  .terms-container {
    margin: 30px 20px;
  }
}

@media (max-width: 480px) {
  .package-header {
    flex-direction: column;
  }

  .package-header h2 {
    font-size: 16px;
  }

  .card {
    width: 100%;
  }

  .terms-container {
    margin: 20px 10px;
    flex-direction: column;
    align-items: flex-start;
  }

  input[type="checkbox"] {
    margin-bottom: 10px;
    cursor: pointer;
  }
}
