/* pricing.css */
.dashboard-container {
  position: relative;
  background: linear-gradient(to bottom right, #f0ebea, #fdfefd);
}

.card-container {
  width: 300px;
  margin: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.card-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.card {
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
  position: relative;
}

.card-container:hover .card {
  background-color: rgba(255, 255, 255, 0.3); /* Adjust this for a lighter effect */
}

.payment-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #9d5e7b;
  color: white;
  padding: 10px;
  border-radius: 50%;
  opacity: 0; /* Initially hidden */
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  z-index: 10; /* Ensure the icon is on top */
}

.card-container:hover .payment-icon {
  opacity: 1; /* Fully visible on hover */
}

.package-header h2 {
  color: #9d5e7b;
}

.terms-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.terms-container input[type="checkbox"] {
  margin-bottom: 10px;
}

@media (min-width: 640px) {
  .terms-container {
    flex-direction: row;
    text-align: left;
  }

  .terms-container input[type="checkbox"] {
    margin-bottom: 0;
  }
}

.highlight {
  color: #9d5e7b;
  font-weight: bold;
  cursor: pointer;
}

.toggle-button {
  padding: 10px 20px;
  background-color: #9d5e7b;
  color: #fdfefd;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.toggle-button:hover {
  background-color: #b59481;
  transform: scale(1.05);
}

.card-container {
  width: 300px;
  margin: 20px;
  transition: transform 0.5s ease;
}

.price-monthly, .price-annual {
  opacity: 1;
}

.price-annual {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.package-header .toggle-button {
  margin-top: 20px;
}

.monthly .price-monthly {
  opacity: 1;
  transform: translateX(0);
}

.monthly .price-annual {
  opacity: 0;
  transform: translateX(-100%);
}

.annual .price-monthly {
  opacity: 0;
  transform: translateX(100%);
}

.annual .price-annual {
  opacity: 1;
  transform: translateX(0);
}

.terms-container {
  flex-direction: column;
  text-align: center;
}

.terms-container input[type="checkbox"] {
  margin-bottom: 10px;
}

@media (min-width: 640px) {
  .terms-container {
    flex-direction: row;
    text-align: left;
  }

  .terms-container input[type="checkbox"] {
    margin-bottom: 0;
  }
}

.highlight {
  font-weight: bold;
}
