.form-labels {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 1rem;
}

.custom-btn {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.button-fonts {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.25 rem;
}

.upload-container {
  display: flex;
  justify-content: center;
}

.upload-area {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.text-area-custom{
  height: 170px;
}

.drag-active {
  border-color: #6c63ff;
}

.upload-text {
  color: #ccc;
  font-size: 16px;
  text-align: center;
}

.uploaded-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.animate-wiggle {
  animation: wiggle 2s ease-in-out infinite;
}

.custom-txt-area {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* @keyframes wiggle {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  75% {
    transform: rotate(10deg);
  }
} */

.upload-container {
  display: flex;
  justify-content: center;
}

.upload-area {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  height: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.drag-active {
  border-color: #6c63ff;
}

.upload-text {
  color: #ccc;
  font-size: 16px;
  text-align: center;
}

.uploaded-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.generated-images-container {
  max-width: 1200px;
  margin: 0 auto;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.selected-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animate-scale {
  animation: scale 0.3s ease-in-out;
}

@keyframes scale {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

.upload-container {
  display: flex;
  justify-content: center;
}

.upload-area {
  border: 2px dashed #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

.drag-active {
  border-color: #6c63ff;
}

.upload-text {
  font-size: 16px;
  text-align: center;
}

.uploaded-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.loader-overlay {
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.loading .loader-overlay {
  display: flex;
}

.loading .button-text {
  visibility: hidden;
}

.animate-spin {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
