.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}

.form-labels {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.custom-btn {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.button-fonts {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

input::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Profile.css or a global stylesheet */
.custom-primary {
  background-color: #9d5e7b !important;
  border-color: #9d5e7b !important;
  color: #ffffff !important;
}

.custom-outline-primary {
  background-color: transparent !important;
  border-color: #9d5e7b !important;
  color: #9d5e7b !important;
}

.custom-outline-primary:hover {
  background-color: #9d5e7b !important;
  color: #ffffff !important;
}
