/* Add this CSS file in the same directory as your CustomCarousel component */

/* Custom styles for carousel arrows */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Optional: Add background color to make arrows visible */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: relative; /* Enable relative positioning */
  transition: transform 0.3s ease-in-out; /* Smooth transition effect */
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  transform: translateY(-5px); /* Move the arrow up on hover */
}


.carousel-control-next, .carousel-control-prev {
  position: absolute;
  top: 50%;
  bottom: 0;
  z-index: 1;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15%;
  padding: 0;
  color: #fff;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: .5;
  transition: opacity .15s ease;
}


/* .home-section{
  margin-top: 130px;
} */


.slide__content {
  position: absolute;
  right: 50px;
  top: 10%;
  margin-left: -30px;
  margin-top: 48px;
  max-width: 900px;
  color: #fff;
}


.slide__heading {
  margin-top: -20px;
  font-size: 50px;
  padding-left: 290px;
  line-height: 70px;
  display: inline-block;
  color: #06a33d;
  font-weight: 900;
  font-family: "Source Sans Pro";
}

.insure-policy {
  color: #000000;
}

.we-offered {
  color: #803D3B !important;
  font-family: "Source Sans Pro", sans-serif;
}

.sub-main-carousel{
  margin: 22px;
  float: left;
}

/*Button Two*/
.button-two-carousel {
  border-radius: 4px;
  background-color:#7a4d35;
  border: none;
  margin-left: 280px;
  color: #fff;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
}


.button-two-carousel span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-two-carousel span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-two-carousel:hover span {
  padding-right: 25px;
}

.button-two-carousel:hover span:after {
  opacity: 1;
  right: 0;
}

.subscribe-button-carousel{
  border: 1px solid white;
  
}