@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.footer {
    background-color: #803D3B;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.footer-container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-subscribe {
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    margin-bottom: 20px;
}

.footer-subscribe h4 {
    margin: 0;
    font-size: 30px;
    margin-bottom: 10px;
    color: #000;
}

.subscribe {
    justify-content: center;
    margin-left: 120px;
}

.subscribe input {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    font-family: 'Montserrat', sans-serif;
}

.subscribe button {
    padding: 10px;
    border: none;
    width: 200px;
    border-radius: 15px;
    height: 60px;
    background-color: #8b5b45;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    transition: background-color 0.3s ease;
}

.subscribe button:hover {
    background-color: #8b5b45;
    border: 0.5px solid #000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.footer-title {
    padding-left: 100px;
    width: 100%;
    margin: 20px 0 30px;
}

.footer-title h2 {
  position: relative;
  padding: 0;
  color: #fff;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.3px;
  font-size: 50px;
  font-weight: 700;
  text-align: left;
  text-transform: none;
  margin-bottom: 30px;
}
.footer-title h2:before {
  content: "";
  width: 60px;
  height: 3px;
  background: #fff;
  position: absolute;
  left: 0px;
  bottom: -10px;
  right: 0;
  /* margin: 0 auto; */
}
.section-head h4 span {
  font-weight: 700;
  padding-bottom: 5px;
  font-family: "Montserrat", sans-serif;
  color: #2f2f2f;
}

.footer-sections {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.footer-column {
    text-align: left;
}

.footer-column h4 {
  font-size: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-left: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-column ul li {
    margin-bottom: 5px;
    transition: color 0.3s ease;
}

.footer-column ul li:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #000;
}


.copyright-area{
  /* background: #202020; */
  width: 100%;
  /* background: linear-gradient(to right, #A46E7D, #B0897F); */
  padding: 25px 0;
  padding-top: 100px;
  }
  .copyright-text p {
  margin: 0;
  width: max-content;
  font-size: 14px;
  color: #fff;
  }
  .copyright-text p a{
  color: #000;
  }
  .footer-menu li {
  display: inline-block;
  margin-left: 20px;
  }
  .footer-menu li:hover a{
  color: #fff;
  }
  .footer-menu li a {
  font-size: 14px;
  color: #fff;
  }

  .footer-menu li a:hover {
    font-size: 14px;
    color: #000;
    }



    .footer-subscribe {
      /* background: linear-gradient(to right, #A46E7D, #B0897F); */
      text-align: center;
      padding: 30px 25px;
      -webkit-box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
      box-shadow: 0 0px 25px rgba(0, 0, 0, 0.07);
      background: #fff;
      border-radius: 20px;
      border: 5px solid rgba(0, 0, 0, 0.07);
      margin-bottom: 30px;
      -webkit-transition: all 0.5s ease 0;
      transition: all 0.5s ease 0;
      /* height: 500px; Set a fixed height */
      width: 100%; /* Ensure full width of the parent column */
      display: flex;
      margin-top: -50px;
      /* flex-direction: column; */
      justify-content: center;
      align-items: center;
    }
    .footer-subscribe:hover h4,
    .footer-subscribe:hover p {
      color: #000;
      -webkit-transition: all 0.5s ease 0;
      transition: all 0.5s ease 0;
      transition: all 0.5s ease 0s;
    }
    .footer-subscribe .icon {
      font-size: 40px;
      margin-bottom: 25px;
      color: #f91942;
      width: 90px;
      height: 90px;
      display: flex;
      line-height: 96px;
      border-radius: 50px;
    }
    .item .feature_box_col_one {
      background: rgba(247, 198, 5, 0.2);
      color: #f91942;
    }
    .item .feature_box_col_two {
      background: rgba(255, 77, 28, 0.15);
      color: #f91942;
    }
    .item .feature_box_col_three {
      background: rgba(0, 147, 38, 0.15);
      color: #f91942;
    }
    .item .feature_box_col_four {
      background: rgba(0, 108, 255, 0.15);
      color: #f91942;
    }
    .item .feature_box_col_five {
      background: rgba(146, 39, 255, 0.15);
      color: #f91942;
    }
    .item .feature_box_col_six {
      background: rgba(23, 39, 246, 0.15);
      color: #f91942;
    }
    .item p {
      font-size: 15px;
      font-family: "Montserrat", sans-serif;
      line-height: 26px;
      text-align: left;
    }
    .item h6 {
      margin-bottom: 20px;
      font-family: "Montserrat", sans-serif;
      color: #2f2f2f;
      text-align: left;
    }

    .follow-us-link {
      margin-left: auto;
      /* position: absolute; */
      /* margin-top: 160px; */
      left: 67%;
      margin-right: 150px;
  }